@use "../../styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
  input {
    border: 1px solid $primary-color;
    border-radius: 0.25rem;
    padding: $space-xs $space-base;
  }
  .error {
    color: $error-color;
    font-size: 0.9rem;
    margin: 0;
  }
}
