@use "../../styles/variables" as *;

.button {
  border: none;
  padding: $space-base $space-s;
  border-radius: $space-s;
  color: $primary-color;
  font-weight: 600;
  cursor: pointer;
}

.primary {
  background-color: $accent-color;
  &:hover {
    background-color: $accent-hover-color;
  }
}

.secondary {
  background-color: $light-color;
  &:hover {
    background-color: $light-color-hover;
  }
}
