@use "../../styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
  textarea {
    border: 1px solid $primary-color;
    border-radius: 0.25rem;
    padding: $space-xs $space-base;
    resize: vertical;
    overflow-y: auto;
  }
  .error {
    color: $error-color;
    font-size: 0.8rem;
    margin: 0;
  }
}
