@use "../../styles/variables" as *;

.container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: $space-s $space-base;
  overflow: hidden;
  color: $light-color;
  background-color: $primary-color;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $primary-color;
    opacity: 0.7;
    z-index: 0;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  @media (min-width: 768px) {
    padding: $space-l $space-m;
  }
  @media (min-width: 1200px) {
    padding: $space-xl;
  }
  button {
    margin-right: $space-base;
    margin-bottom: $space-xs;
  }
}
