$font: "Space Grotesk", sans-serif;

$primary-color: #1c2632;

$accent-color: #feb161;
$accent-hover-color: #e2944d;

$light-color: white;
$light-color-hover: #fdf6e3;

$padding-base: 1rem;
$padding-min: 2rem;

$icon-width-base: 2rem;
