@use "./variables" as *;

:root {
  font-family: $font;
  color: $primary-color;
  background-color: $light-color;

  h1,
  h2,
  h3 {
    margin: 0;
    margin: $space-s 0;
  }

  p {
    margin: 0;
    margin: $space-s 0;
  }

  h1,
  h2,
  h3 {
    font-weight: 600;
  }
}
