@use "../../styles/variables" as *;

.container {
  display: none;
  gap: $space-s;
  background-color: $primary-color;
  a {
    text-decoration: none;
    color: $light-color;
    &:hover {
      opacity: 0.7;
    }
    @media (min-width: 768px) {
      color: $primary-color;
    }
  }
  .active {
    color: $accent-color;
    &:hover {
      color: $accent-hover-color;
      opacity: 1;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    background-color: $light-color;
  }
}

.menu {
  border-radius: $space-s;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  .img {
    width: $space-base;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.open {
  position: fixed;
  top: $space-l;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space-s 0;
  z-index: 999;
  animation: fadeInMenu 0.3s ease-in-out forwards;
  @media (min-width: 760px) {
    display: none;
  }
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
