@use "../../styles/variables" as *;

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-base;
  padding: $space-m $space-base;
  @media (min-width: 768px) {
    grid-template-columns: repeat(var(--columns), 1fr);
    padding: $space-s $space-m;
  }
  @media (min-width: 1200px) {
    padding: $space-m $space-xl;
  }
  img {
    width: $space-l;
  }
}

.left {
  align-items: baseline;
  justify-items: left;
  text-align: left;
}

.center {
  align-items: baseline;
  justify-items: center;
  text-align: center;
}
.light {
  background-color: $light-color;
  color: $primary-color;
}
.dark {
  background-color: $primary-color;
  color: $light-color;
}
