@use "../../styles/variables" as *;

.container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
  overflow: hidden;
  color: $light-color;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $primary-color;
    opacity: 0.7;
    z-index: 0;
  }
  > * {
    position: relative;
    z-index: 1;
  }
}
