@use "../../styles/variables" as *;

.container {
  background-color: $primary-color;
  color: $light-color;
  padding: $padding-base;
  display: flex;
  flex-direction: column;
  gap: $padding-base;
  a {
    margin: 0;
    color: $light-color;
    &:hover {
      color: $light-color-hover;
    }
  }
  img {
    width: $icon-width-base;
  }
  p {
    margin: 0;
    text-align: center;
  }
  @media (min-width: 760px) {
    align-items: center;
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: $padding-base;
  @media (min-width: 760px) {
    flex-direction: row;
    gap: 5rem;
  }
}

.block {
  display: flex;
  align-items: center;
  gap: $padding-base;
  padding-bottom: $padding-base;
}
